@font-face {
    src: url(https://code.s3.yandex.net/web-code/fonts/SuisseIntl-Book.woff);
    font-family: "Suisse";
    font-weight: normal;
  }
  
  @font-face {
    src: url(https://code.s3.yandex.net/web-code/fonts/SuisseIntl-Bold.woff);
    font-family: "Suisse";
    font-weight: bold;
  }
  
  html {
    height: 100%;
    margin: 0;
    -webkit-font-smoothing: antialiased;
  }
  
  body {
    background-color: #323131;
    color: white;
    max-width: 540px;
    min-height: 150%;
    margin: 0 auto;
    font-family: "Suisse";
    box-sizing: border-box;
    padding: 36px;
  }
  
  .image {
    width: 90%;
    display: block;
    margin: 60px auto 50px;
  }
  
  .head {
    font-size: 22px;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 70px;
  }
  
  .footer {
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    margin: 10;
  }